#footer{
	background-color:#272727;
	color:#FFFFFF;
	.container{
		padding: 50px 0;

		a{
			color:#00caa7;
		}
		a:hover{
			color:#66dfca;
		}
	}
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}


